.Header{
    display: flex;
    padding: .6rem;
    min-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

.Navbar{
    font-family: 'Roboto Mono', monospace;
    display: flex;
    color: white;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.Navbar p{
    margin-right: 15px;
}
.Navbar ul{
    display: flex;
}

.Navbar a{
    text-decoration: none;
    color: white;
}
.Navbar a:hover{
    transition: .5s;
    cursor: pointer;
    color: #7FFFD4;
}

.Navbar ul li{
    list-style: none;
    margin-right: 10px;
}

.circuloContainer{
    display: flex;
}

.circulo{
    margin-right: 4px;
    background: none;
    width: 21px;
    border-radius: 50%;
    height: 100%;
}
.circulo:hover{
    cursor: pointer;
}

.first{
    border: 2px solid #7FFFD4;
}

.second{
    border: 2px solid #92c5fc;
}

.third{
    border: 2px solid #FBCEB1;
}

@media(max-width: 701px){
    .circuloContainer{
        display: none;
    }
    
    .circulo{
        display: none;
        margin-right: 4px;
        background: none;
        width: 21px;
        border-radius: 50%;
        height: 100%;
    }
}