@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

body{
  --tw-bg-opacity: 1;
  background-color: rgba(13, 13, 13,1);
}

.App {
  max-width: 60%;
  margin: 0 auto;
}

/* Estilos de iconos */

ion-icon{
  color: white;
  font-size: 30px;
}